:root {
    --bg-primary : #131c26;
    --bg-secondary: #606478;
    --bg-tertiary: #b0b8d5;

    --fc-primary: #e5e9ef;
    --fc-secondary: #b0b8d5;
    --fc-dark: #131c26;
}



body {
    background-color: var(--bg-tertiary);
}

a {
    text-decoration: none !important;
}

header {
    background-color: var(--bg-primary);
    color: var(--fc-primary);
    height: 60px;
    width: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 26px;
}

header h1, h2, h3, h4, h5{
    color: var(--fc-primary);
}

.menu-resp {
    cursor: pointer;
}


.menu__icon {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 25px;
}

.box__icon {
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    cursor: pointer;
}

.box__icon:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box__icon .icon {
    font-size: 46px;
    color: var(--fc-primary);
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}

.box__icon .icon:hover {
    transform: translateY(-4px);
}

.box__icon .label {
    font-size: 18px;
    font-weight: bold;
    color: var(--fc-primary);

}


.box__icon a {
    position: relative;
    color: #fff;
    text-decoration: none;  
  }
  
  .box__icon a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--bg-secondary);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .box__icon a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }