:root {
    --bg-primary : #131c26;
    --bg-secondary: #606478;
    --bg-tertiary: #b0b8d5;

    --fc-primary: #e5e9ef;
    --fc-secondary: #b0b8d5;
    --fc-dark: #131c26;
}



body {
    background-color: var(--bg-tertiary);
}

a {
    text-decoration: none !important;
}

header {
    background-color: var(--bg-primary);
    color: var(--fc-primary);
    height: 60px;
    width: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    color: var(--fc-primary);
}


.menu__icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 25px;
}

.box__icon {
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    cursor: pointer;
}

.box__icon:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box__icon .icon {
    font-size: 46px;
    color: var(--fc-primary);

}

.box__icon .label {
    font-size: 18px;
    font-weight: bold;
    color: var(--fc-primary);

}